<div class="wrapper">
    <div id="img">
        <img class="logo" src="..\assets\LOGO 5.png" alt="LOGO" height="150px" width="130px" usemap="#image-map">
        <map name="image-map">
            <area target="" alt="LOGO" title="LOGO" href="home.html" coords="2,1460,1176,4" shape="rect">
        </map>
    </div>

    <div class="container">
        <div class="col-md_9">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control"
                            placeholder="Chercher un produit..."> <button
                            class="btn btn-primary">Rechercher</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>

